/*custom css file*/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&subset=latin-ext');

html { height:100%; }
body{
  height:100%;
  font-family: 'Nunito Sans', sans-serif;
}
ul, li{ padding:0px; margin:0px; list-style: none; }
footer{
  color: white;
  background: url(/img/vector-footer.jpg) bottom right no-repeat;
  background-size: cover;
}
.modal-header{ display: none;}
.modal-body{ padding:0px !important; }
.-paddingFix{
  @include breakpoint(xs) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  padding-top:100px;
  padding-bottom:100px;
}
.-paddingFixTop{
  @include breakpoint(xs) {
    padding-top: 60px;
  }
  padding-top:100px;
}
.navbar-toggle{
  border-color: transparent !important;
}
.navbar-toggle:hover, .navbar-toggle:focus{ background-color: transparent !important; }
.navbar-default{
  background-color: rgba(255,255,255,0.9);
  // border:0px;
}
// .navbar{ margin:20px 0px 0px 0px; height: 70px;}
nav{
  background: transparent !important;
  border:0px !important;
  li{
    a{
      // padding-top:32px !important;
      padding-right: 5px ;
      padding-left: 5px ;
      color: white !important;
    }
  }
}
article{
  position: relative;
  float:left;
}
.-titleText{
  padding-top:100px;
}
.title{
  @include breakpoint(xs) {
    padding-top:0px;
    font-size: 24px;
  }
  position: relative;
  float:left;
  width: 100%;
  text-align: center;
  font-size: 36px;
  padding-top:50px;
  span{
    @include breakpoint(xs) { width:100%; float:left; }
    float:none;
  }
}
.navbar-brand{
  margin: 0px;
  padding:0px 10px;
}
// .-about, .-testimonials, .-timetable, .-list, .-events{ overflow: hidden; }

.-about{
  // background-color: #000;
  background: url(/img/bgLogoGhost.png) left top no-repeat;
}
.-aboutDenizli{
  background-color: #000;
  // background: url(/img/vector-bg-3.jpg) left top no-repeat;
}

.-timetableDenizli, .-timetable{

  li{
    font-size: 20px;
    box-sizing:border-box;
    position: relative;
    float:left;
    width:100%;
  }
  .-time{
    border-left: 1px solid #ddd;
    padding: 30px 0px 0px 50px;
    font-size: 14px;
    color: #ff821e;
  }
  .-content{
    padding: 0px 0px 30px 50px;
    border-left: 1px solid #ddd;
    border-bottom:1px solid #ddd;
    i{
      position: absolute;
      float:left;
      width:42px;
      height:42px;
      line-height: 22px;
      text-align: center;
      left:-20.5px;
      top:-7.5px;
      padding:10px;
      border-radius: 100%;
      background-color: #fff;
      border:1px solid #ff821e;
      color: #ff821e;
    }
  }
}
.-testimonials{
  twitterwidget{
    margin: 0 auto;
  }
}
.-events{
  .row{
    a{ margin-top: 10px; margin-bottom: 10px; }
  }
}
.-list{
  input{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    color: white;
  }
  .btn{
    border:1px solid white;
    background-color: transparent;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}
.jumbotron, .jumbotronDenizli{
  padding:0px;
  margin-bottom:0px;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width:100%;
  background-color: white;
}
.jumbotronDenizli{
  background-image: url(/img/hero-pamukkale-text.jpg);
  background-position: top center;
}
.jumbotron{
  background-image: url(/img/hero-new.jpg);
  background-position: center center;
}
.-grayBg{
  background-color: #eee;
}
.-gradientBg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff821e+1,ff008c+100 */
  background: #ff821e; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #ff821e 1%, #ff008c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #ff821e 1%,#ff008c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #ff821e 1%,#ff008c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff821e', endColorstr='#ff008c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color:white;
  a{ color: white; }
}
footer{
    .btn{
      margin:6px;
      background-color: transparent;
      color: white;
    }
  a{
    padding:5px;
    position: relative;
    float:left;
    // width:100%;
    .fa{
      font-size: 22px;
      // padding-top:10px;
    }

    color: white;
  }
  a:hover{ color: white; }
}
.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}
.-participant{
  margin: 25px 0px;
  i{ font-size: 16px; }
  b{ font-weight: bold; color:#ff008c;  }
  a{ color: #ff008c; }
}
.-formButton{
  background-color: white !important;
  color: #ff6932 !important;
}
.-h500{ height:500px; }
.-ptA{ padding-top:150px; }
.-ptB{ padding-top:100px; }
.-ptC{ padding-top:50px; }
.-border{ border-bottom: 1px solid #eee; }
.-marginZero{ margin:0px; }
.-white{
  color:white;
}
.form-group{
  input{
    font-size: 18px;
  }
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}



//// TIMER ////
.countdown-container {
  @include breakpoint(xs) {
    top: 65%;
    margin:0px;
    padding:0px;
    width:100%;
  }
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  .clock{
    margin: 0 auto;
    display: table;
  }
  .clock-item{
    @include breakpoint(xs) {
      width:100%;
      height: 75px;
      margin:0px;
    }
    position: relative;
    float:left;
    width: 100px;
    height:100px;
    margin:0px  10px;
    .inner {
      @include breakpoint(xs) {
        margin: 0px auto 10px auto;
        width:75px;
        height:75px;
      }
      height: 0px;
      // padding-bottom: 100%;
      position: relative;
      width: 100%;
      .clock-canvas {
        @include breakpoint(xs) {
          margin: 0px auto 10px auto;
          width:75px;
          height:75px;
        }
        background-color: rgba(255, 255, 255, .1);
        border-radius: 50%;
        /*height: 0px;*/
        // padding-bottom: 100%;
        width:100px;
        height:100px;
      }
      .text {
        color: #fff;
        position: absolute;
        top: 0px;
        text-align: center;
        width: 100%;
        .val{
          @include breakpoint(xs) {
            font-size: 20px;
            line-height: 75px;
            height:75px;
          }
          font-size: 50px;
          margin:0px;
          height:100px;
          line-height: 100px;
        }
        .type-time {
          @include breakpoint(xs) {
            font-size: 12px;
            top: -30px;
            position: relative;
          }
          font-size: 18px;
          margin:0px;



        }
      }
    }
  }
}

@media (max-width: 767px) {
  .clock-item {
    margin: 0 auto;
    display: table;
  }
}

