/*custom css file*/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {height:100%;}
body{
  height:100%;
  // padding-top: 50px;
  font-family: 'Nunito Sans', sans-serif;
}
ul, li{ padding:0px; margin:0px; list-style: none; }
footer{
  // background-color: black;
  color: white;
  background: url(/img/vector-footer.jpg) bottom right no-repeat;
  background-size: cover;
  // padding-bottom: 100px;
}
// .modal-dialog{
//   // position: absolute
//   // top:50%;
//   // left:50%;
//   // transform: translate-y(-50%) !important;
// }
.modal-header{ display: none;}
.modal-body{ padding:0px !important; }
.-paddingFix{
  @include breakpoint(xs) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  padding-top:100px;
  padding-bottom:100px;
}
.-paddingFixTop{
  @include breakpoint(xs) {
    padding-top: 60px;
  }
  padding-top:100px;
}
.navbar-toggle{
  border-color: transparent !important;
}
.navbar-toggle:hover, .navbar-toggle:focus{ background-color: transparent !important; }
.navbar-default{
  background-color: rgba(255,255,255,0.9);
  // border:0px;
}
// .navbar{ margin:20px 0px 0px 0px; height: 70px;}
nav{
  background: transparent !important;
  border:0px !important;
  li{
    a{
      // padding-top:32px !important;
      padding-right: 5px ;
      padding-left: 5px ;
      color: white !important;
    }
  }
}
article{
  position: relative;
  float:left;
}
.-titleText{
  padding-top:100px;
}
.title{
  @include breakpoint(xs) {
    padding-top:0px;
    font-size: 24px;
  }
  position: relative;
  float:left;
  width: 100%;
  text-align: center;
  font-size: 36px;
  padding-top:50px;
  span{
    @include breakpoint(xs) { width:100%; float:left; }
    float:none;
  }
}
// nav:after{
//   content: "";
//   position: absolute;
//   top:50px;
//   height: 50px;
//   width: 100%;
//   background: url(/img/dividers/white-bottom-to-right.png) center center no-repeat;
//   background-size: cover;
//   z-index: -5;
// }
.navbar-brand{
  margin: 0px;
  padding:0px 10px;
}
// .-about, .-testimonials, .-timetable, .-list, .-events{ overflow: hidden; }

.-about{
  background-color: #000;
  // background: url(/img/vector-bg-3.jpg) left top no-repeat;
}
// .-about:after{
//   content: "";
//   position: relative;
//   float:left;
//   bottom: -100px;
//   height: 50px;
//   margin-left:-15px;
//   width: 110%;
//   background: url(/img/dividers/gray-top-to-left.png) center center no-repeat;
//   background-size: cover;
//   z-index: 5;
// }

.-timetableDenizli{
    // border-left: 1px solid #ddd;
    // padding:0px;
  li{
    // padding:0px 0px 40px 0px;
    font-size: 20px;
    box-sizing:border-box;
    position: relative;
    float:left;
    width:100%;
  }
  li:nth-child(even){
    // border-left: 1px solid #ddd;
  }
  li:nth-child(odd){
    // padding-right: 30px;
    // position: relative;
    // float:left;
    // padding-right:20px;
  }
  .-time{
    border-left: 1px solid #ddd;
    padding: 30px 0px 0px 50px;
    font-size: 14px;
    color: #ff821e;
    // margin-left: -6px;
  }
  // .-time:before{
  //   content: "";
  //   padding-right:25px;
  //   // margin-left: -6px;
  // }
  .-content{
    padding: 0px 0px 30px 50px;
    border-left: 1px solid #ddd;
    border-bottom:1px solid #ddd;
    i{
      position: absolute;
      float:left;
      width:42px;
      height:42px;
      line-height: 22px;
      text-align: center;
      left:-20.5px;
      top:-7.5px;
      padding:10px;
      border-radius: 100%;
      background-color: #fff;
      border:1px solid #ff821e;
      color: #ff821e;
    }
  }
  // .-content:before{
  //   font-family: fontAwesome;
  //   content: "\f111";
  //   position: relative;
  //   color: #ccc;
  //   float:left;
  //   padding-right:20px;
  //   // margin-bottom: 30px;
  //   margin-left: -6px;
  //   font-size: 14px;
  // }
}
.-timetable{
  li{
    padding:0px 0px 40px 0px;
    box-sizing:border-box;
  }
  li:nth-child(even){
    border-left: 1px solid #ddd;
  }
  li:nth-child(odd){
    padding-right: 30px;
  }
  li:nth-child(2):before{
    color: #4caf50 !important;
  }
  li:nth-child(even):before{
    font-family: fontAwesome;
    content: "\f111";
    position: relative;
    color: #ccc;
    float:left;
    padding-right:20px;
    // margin-bottom: 30px;
    margin-left: -6px;
    font-size: 14px;
  }
}

.-testimonials{
  twitterwidget{
    // float:left;
    // width: 25% !important;
    margin: 0 auto;
  }
}
.-events{
  .row{
    a{ margin-top: 10px; margin-bottom: 10px; }
  }
}
.-list{
  input{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    color: white;
  }
  .btn{
    border:1px solid white;
    background-color: transparent;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }
}
// .-events:before{
//   content: "";
//   position: relative;
//   float:left;
//   top: -100px;
//   height: 50px;
//   margin-left:-15px;
//   width: 110%;
//   background: url(/img/dividers/gray-bottom-to-left.png) center center no-repeat;
//   background-size: cover;
//   z-index: 5;
// }
// .-events:after{
//   content: "";
//   position: relative;
//   float:left;
//   bottom: -100px;
//   height: 50px;
//   margin-left:-15px;
//   width: 110%;
//   background: url(/img/dividers/white-top-to-right.png) center center no-repeat;
//   background-size: cover;
//   z-index: 5;
// }
// .-list:after{
//   content: "";
//   position: relative;
//   float:left;
//   bottom: -100px;
//   height: 50px;
//   margin-left:-15px;
//   width: 110%;
//   background: url(/img/dividers/black-top-to-right.png) center center no-repeat;
//   background-size: cover;
//   z-index: 5;
//   overflow: hidden;
// }
// .-list:before{
//   content: "";
//   position: relative;
//   float:left;
//   top: -100px;
//   height: 50px;
//   margin-left:-15px;
//   width: 110%;
//   background: url(/img/dividers/white-bottom-to-right.png) center center no-repeat;
//   background-size: cover;
//   z-index: 5;
//   overflow: hidden;
// }
.jumbotronDenizli{
  // @include breakpoint(xs) { height: 250px; }
  // @include breakpoint(xs) { height: 250px; background-position: -180px top; background-size: cover; }
  // @include breakpoint(sm) { height: 330px; background-size: cover; }
  padding:0px;
  margin-bottom:0px;
  // min-height: 250px;
  background-image: url(/img/hero-pamukkale-text.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;width:100%;
  background-color: white;
}
.jumbotron{
  @include breakpoint(xs) { min-height: 250px; background-position: -150px top; }
  @include breakpoint(sm) { min-height: 400px; background-position: left center; }
  padding:0px;
  margin-bottom:0px;
  // min-height: 250px;
  background-image: url(/img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  background-color: white;
}
.-grayBg{
  background-color: #eee;
}
.-gradientBg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff821e+1,ff008c+100 */
  background: #ff821e; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #ff821e 1%, #ff008c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #ff821e 1%,#ff008c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #ff821e 1%,#ff008c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff821e', endColorstr='#ff008c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color:white;
  a{ color: white; }
}
footer{
    .btn{
      margin:6px;
      background-color: black;
      color: white;
    }
  a{
    padding:5px;
    position: relative;
    float:left;
    // width:100%;
    .fa{
      font-size: 22px;
      // padding-top:10px;
    }

    color: white;
  }
  a:hover{ color: white; }
}
.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}

.-participant{
  margin: 25px 0px;
  i{ font-size: 16px; }
  b{ font-weight: bold; color:#ff008c;  }
  a{ color: #ff008c; }
}
.-formButton{
  background-color: white !important;
  color: #ff6932 !important;
}
.-h500{ height:500px; }
.-ptA{ padding-top:150px; }
.-ptB{ padding-top:100px; }
.-ptC{ padding-top:50px; }
.-border{ border-bottom: 1px solid #eee; }
.-marginZero{ margin:0px; }
.-white{
  color:white;
}
.form-group{
  input{
    font-size: 18px;
  }
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
#timer{
  @include breakpoint(xs) {
    width:300px;
    font-size: 46px;
    padding-top:100px;
  }
  position: relative;
  // float:left;
  display: table;
  font-family: 'Roboto Mono', monospace;
  width:400px;
  margin:0 auto;
  margin-top:40%;
  text-align: center;
  font-size: 66px;
  font-weight: 200;
  padding-top:20px;
  // text-shadow: 0px 0px 50px #ff008c;
  // text-shadow: 0px 0px 50px #000;
  .sec{ border:0px; }
  div{
    @include breakpoint(xs) {
      width:70px;
    }
    position: relative;
    float:left;
    // border:1px solid #ff008c;
    // background-color: white;
    // color: black;
    // border-radius: 5px;
    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    border-right:1px solid rgba(255,255,255,0.5);
    // margin-right:5px;
    // text-shadow: 0 px 0px 50px #fff;
    p{
      position: relative;
      float:left;
      top:-22.5px;
      // bottom:35px;
      // border-bottom:1px solid white;
      width:100%;
      height: auto;
      line-height: 20px;
      text-align: center;
      font-size: 14px;
    }
  }
}
